In [1]:
import os
import pandas as pd

In [14]:
df = pd.read_json(os.getcwd() + '/order_data.json').T
df['quantity'] = df['quantity'].apply(lambda x: x if pd.isna(x) else int(x)) 
df.shape

(100, 3)

In [15]:
print(df['order_date'].value_counts().sum())
df['order_date'].value_counts()

99

2021-09-11    15
2021-09-10    14
2021-09-09    12
2021-09-15    10
2021-09-07    10
2021-09-08     9
2021-09-14     8
2021-09-06     8
2021-09-12     7
2021-09-13     3
2021           3
Name: order_date, dtype: int64

In [16]:
print(df['priority'].value_counts().sum())
df['priority'].value_counts()

98

M    36
L    29
H    28
Y     5
Name: priority, dtype: int64

In [17]:
print(df['quantity'].value_counts().sum())
df['quantity'].describe()

98

count    98.000000
mean     49.877551
std      23.738379
min       1.000000
25%      31.000000
50%      53.000000
75%      67.000000
max      89.000000
Name: quantity, dtype: float64

In [23]:
df = df[df['order_date'] != '2021']
df['order_date'] = pd.to_datetime(df['order_date'])

In [30]:
df[df['priority'] == 'H'].groupby(['order_date']).size()

order_date
2021-09-06    3
2021-09-07    2
2021-09-08    2
2021-09-09    3
2021-09-10    4
2021-09-11    6
2021-09-12    3
2021-09-13    1
2021-09-14    2
2021-09-15    1
dtype: int64

In [31]:
df[df['order_date'] == '2021-09-11']

      order_date priority  quantity
92838 2021-09-11        M      82.0
51460 2021-09-11        L       NaN
16568 2021-09-11        M      31.0
24730 2021-09-11        H      49.0
1328  2021-09-11        L      56.0
42161 2021-09-11        M      82.0
36993 2021-09-11        H      37.0
32001 2021-09-11        L      12.0
83133 2021-09-11        H      82.0
57882 2021-09-11        H      77.0
93866 2021-09-11        H      50.0
10245 2021-09-11        L      61.0
67461 2021-09-11        M      31.0
16803 2021-09-11        Y      71.0
86134 2021-09-11        H       5.0